{% extends 'home/index.html' %} {% block contenido %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="logo.ico">
    <title>About</title>
</head>
<style type="text/css">
    .zoom {
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 0.1s, height 0.3s, transform 0.3s;
    }
    
    .zoom:hover {
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform: scale(1.1);
    }
</style>

<body style="background-color: rgb(214, 142, 184);">
    <h1>
        <marquee>
            <font face="Times New Roman" style="color:#770077;">OCTUBRE MES DE LA LUCHA CONTRA EN CÁNCER DE MAMÁ</font>
        </marquee>
    </h1>
    <h1 align="center" style="color: white;">¿Quienes Somos?</h1>
    <center>
        <a href="https://www.ulaccam.org/ong/CEPREME" target="_blank "><img class="zoom" src="https://www.gob.mx/cms/uploads/article/main_image/87651/imagen-blog-CANCER-DE-MAMA-JA.jpg" width="350 " height="200 "></a>
    </center>

    </a>
    <h2 align="center " style="color: white; ">En México existen muchas fundaciones que se encargan de las revisiones medicas de personas con cancer ademas de que las alientas a seguir adelante demostrando que son unas valientes guerreras capaces de lograr con cualquier cosa y una de ellas es
        el cancer de mama, alguans de estas fundaciones son:</h2>
    <font size=5>
        <p style="color: rgba(255, 0, 170, 0.747); ">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
    </font>
    <font size=4>
        <h3 style="color: #ff0000; ">Fundacion COMESAMA A.C.</h3>
    </font>
    <p align="right " style=" color: rgb(0, 0, 0); ">Esta funcacion ace en 2010, como iniciativa de Fundación CIMA, para formar una coalición de asociaciones, llamada Coalición Mexicana por la Salud Mamaria que afrontara la urgencia de hacer valer de manera organizada y competente, las necesidades de
        las pacientes de cáncer de mama durante la revisión de la NOM SSA2-041. Del trabajo llevado a cabo en el año 2010, se logró que en dicha Norma Oficial se integraran varias de las demandas de las pacientes, entre ellas, que la edad de inicio del
        tamizaje por mastografía se mantuviera a partir de los 40 años. En 2017, después de haberse consolidado como acreditado interlocutor de las autoridades en salud, los tomadores de decisiones y las pacientes con cáncer de mama, la coalición se constituyó
        en asociación civil sin fines de lucro. COMESAMA A.C., actualmente reúne a 30 organizaciones que trabajan a lo largo de la República Mexicana con el principal objetivo de incidir en política pública sobre cáncer de mama y salud reproductiva de
        la mujer</p>
    <p style="color: #ff0000; ">Misión </p>
    <p align="right " style="color: rgb(0, 0, 0); "> Contribuir a revertir la tasa de morbimortalidad por causa del cáncer de mama en México a través de la incidencia en política pública.</p>
    <p style="color: #ff0000; ">Visión</p>
    <p align="right " style="color: rgb(0, 0, 0); ">Consolidarnos como una fuerza social reconocida, capaz de llevar la voz de la sociedad civil a diferentes foros, proponiendo mejoras en los servicios de salud.</p>
    <font size=5>
        <p style="color: rgba(255, 0, 170, 0.747); ">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
    </font>
    <font size=5>
        <h4 style="color: #ff0000; ">Fundacion Clima</h4>
    </font>
    <p align="right " style="color: rgb(0, 0, 0); "> Somos una organización no gubernamental, sin fines de lucro, que contribuye a disminuir la mortalidad por cáncer de mama en México a través de siete líneas de acción: Información y Educación; Servicio a Pacientes; Plataforma Tanto por Hacer; Alianzas
        Estratégicas; Incidencia en Política Pública; Programas Comunitarios y Fortalecimiento Institucional. -Fundacion Clima</p>
    <p style="color: #ff0000; ">Visión</p>
    <p align="right " style="color: rgb(0, 0, 0); ">Hacer del cáncer de mama una enfermedad que no te arranque la vida.</p>
    <font size=5>
        <p style="color: rgba(255, 0, 170, 0.747); ">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
    </font>
    <p align="center " style="color: rgb(255, 255, 255); "> Da clik en las imagenes para ir a fundaciones de lucha contra el cancer </p>
    <a href="https://www.ulaccam.org/ong/femama " target="_blank ">
        <div align="center "> <img class="zoom " src="https://cdn-cinfasalud.cinfa.com/wp-content/uploads/2019/07/CinfaSalud-imagen-cancer-mama-600.jpg " alt=" " width="350 " height="200 "></div>
    </a>
    <a href="https://www.ulaccam.org/ong/amuro " target="_blank ">
        <div align="center "> <img class="zoom " src="https://navitasmed.com/wp-content/uploads/2020/04/Blog-octubre_navitas.png" alt=" " width="350 " height="200 "></div>
    </a>
    <a href="https://www.ulaccam.org/ong/fuca " target="_blank ">
        <div align="center "> <img class="zoom " src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKWXId3RIMKvQazZ9qR369oD2XgVv8z-Uieg&usqp=CAU" alt=" " width="350 " height="200 "></div>
    </a>

    <h1 align="center " style="color: white; ">¿Quieres saber más sobre esta enfermedad?</h1>
    <p align="center " style="color: white; ">Da clic en el enlace para ir al video</p>
    <a href="https://youtu.be/T-xYYfQM7QU " target="_blank ">
        <div align="center "><img class="zoom " src="https://lh3.googleusercontent.com/proxy/_A7lrNJ4nWna9Mdguf2PtnIOy0saVytJV_Zywz165HSM4izFUl-RE5m7H8Gi73rwqLW7igVBXGLRgrRIas1-ACl6yOp24gT0Ky1ENs_2U9bp1zf0k_YI5rvRiIgopwA_EqCd2qejP06iTIwL3os_jrr_sInGRY0rHGOwpdZkEPIEQBRcvgk "
                alt=" "> </a>
    </div>

</body>
{% endblock contenido %}