{% extends 'home/index.html' %} {% block contenido %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="logo.ico">
    <title>Sintactico</title>
</head>
<style type="text/css">
    .zoom {
        /* Aumentamos la anchura y altura durante 2 segundos */
        transition: width 0.1s, height 0.3s, transform 0.3s;
    }
    
    .zoom:hover {
        /* tranformamos el elemento al pasar el mouse por encima al doble de
           su tamaño con scale(2). */
        transform: scale(1.1);
    }
</style>

<body bgcolor="#F5A9F2">
    <h1>
        <marquee>
            <font face="Times New Roman" style="color:#770077;">OCTUBRE MES DE LA LUCHA CONTRA EN CÁNCER DE MAMÁ</font>
        </marquee>
    </h1>
    <h1>
        <center>
            <font face="Times New Roman" style="color:#FF338A;">CURSO DE RECONOCIMIENTO DE PATRONES SINTÁCTICO ESTRUCTURAL</font>
        </center>
    </h1>
    <h3>
        <font face="Times New Roman" style="color:#A833FF;">¿QUÉ ES EL RECONOCIMIENTO DE PATRONES SINTÁCTICO ESTRUCTURAL?</font>
    </h3>
    <p>Este enfoque se basa en encontrar las relaciones estructurales que guardan los objetos de estudio, utilizando la teoría de lenguajes formales. El objetivo es construir una gramática que describa la estructura del universo de objetos. </p>
    <p>En el reconocimiento sintáctico, cada patrón se describe en términos de sus elementos básicos, llamados primitivas y representados por P, y unas reglas sintácticas, llamadas gramática y representadas por G; en conjunto, especifican cómo se pueden
        generar patrones válidos de una determinada clase. </p>
    <a href="https://youtu.be/259uuGEXLFM" target="_blank">
        <div align="center"> <img class="zoom" src="https://estaticos.muyinteresante.es/media/cache/760x570_thumb/uploads/images/article/5d68f37b5cafe862e8f38dec/internet-cerebro_0.jpg" align="right" width="350" height="250"></div>
    </a><br>
    <font size=5>
        <p style="color: rgba(255, 0, 157, 0.733);">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
    </font>
    <h4>
        <font face="Times New Roman" style="color:#ff33a3e5;">ANÁLISIS GRAMATICALES, RECONOCIMIENTO CON CADENAS Y LENGUAJES FORMALES</font>
    </h4>
    <ul>
        <li>
            <font face="Times New Roman" style="color:#700045;"><em>Lenguajes Formales</em></font>
        </li>
        <p>Se basan en la definición de una gramática que describe las estructuras sintácticas válidas capaces de identificar.</p>
        <li>
            <font face="Times New Roman" style="color:#700045;"><em>Reconocimiento con Cadenas</em></font>
        </li>
        <p>Los patrones son representados por las secuencias ordenadas o cadenas de elementos discretos como una secuencia de letras en una palabra, la clasificación de patrones basada sobre dichas cadenas de símbolos discretos, difiere en el número de caminos
            de las técnicas más comúnmente usadas, debido a que los elementos de las cadenas (letras, caracteres o símbolos) son nominales; no existe noción de la distancia entre cadenas.</p>
        <li>
            <font face="Times New Roman" style="color:#700045;"><em>Reconocimiento usando Gramáticas</em></font>
        </li>
        <p>Es muy similar a la aproximación general usada durante todo el reconocimiento de patrones. Con este método se supone que una oración de prueba fue generada por una de las n gramáticas, G1, G2, G3, ·····, Gn, las cuales pueden ser consideradas
            como modelos diferentes o clases.</p>
        <font size=5>
            <p style="color: rgba(255, 0, 170, 0.747);">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
        </font>

    </ul>
    <h3>
        <font face="Times New Roman" style="color:#A833FF;">RECONOCIMIENTO ESTADISTICO DE PATRONES</font>
    </h3>
    <p> Enfoque se basa en la teoría de probabilidad y estadística y supone que se tiene un conjunto de medidas numéricas con distribuciones de probabilidad conocidas y a partir de ellas se hace el reconocimiento.</p>
    <H3>
        <font face="Times New Roman" style="color:#A833FF;"> Reconocimiento Sintáctico de Patrones </font>
    </H3>
    <P> Este enfoque se basa en encontrar las relaciones estructurales que guardan los objetos de estudio, utilizando la teoría de lenguajes formales. El objetivo es construir una gramática que describa la estructura del universo de objetos.</P>
    <h3>
        <font face="Times New Roman" style="color:#A833FF;">APLICACIONES</font>
    </h3>
    <P> Visión de máquina: Un sistema de este tipo captura imágenes a través de una cámara y las analiza para producir una descripción de lo que fue captado. Una forma de aplicación de este sistema se da en la manufactura, ya sea para inspección visual o
        para automatizar la línea de ensamblaje. En medicina por ejemplo, se busca generar diagnósticos a partir de imágenes médicas pre procesadas y validadas mediante un conjunto de datos reales. </P>
    <p>Reconocimiento óptico de caracteres Se encuentran en el mercado y nos son familiares a la mayoría de nosotros. Consisten en un dispositivo “front end” que tiene una fuente de luz, un lente para escanear, el contenedor del documento y el detector.
        La variación de la intensidad de la luz se traduce a números a partir de los cuales un arreglo de imágenes es formado. En la secuencia, una serie de técnicas de procesamiento de imágenes son aplicadas que lleva a la segmentación de caracteres.
    </p>
    <font size=5>
        <p style="color: rgba(255, 0, 170, 0.747);">🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀-🎀</p>
    </font>
    <p align="center">¿Te sientes cansado y estresado? Da clic en la imagen para ver un video antiestres</p>
    <a href="https://youtu.be/0WHt24uWdi4" target="_blank">
        <div align="center"> <img class="zoom" src="https://yt3.ggpht.com/ytc/AKedOLTId3qeHlW237vGi5bsTIzxjOLs7IPmS_W85i7lbw=s900-c-k-c0x00ffffff-no-rj" align="center" width="200" height="180"></div>
    </a><br> {% endblock contenido %}